@font-face {
    font-family: 'Segoe';
    src: url(../../assets/Fonts/SegoeWPN.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Segoe';
    src: url(../../assets/Fonts/Segoe-UI-Bold.ttf);
    font-weight: 700;
}

