$primary-color-1: #363A5F;
$primary-color-2: #F8F2F2;

$secondary-color-1: #ECE7BE;
$secondary-color-2: #E1E3F4;

$supporting-color-1: #FFFFFF;
$supporting-color-2: #ADADA7;

$device-height: 812px;
$device-width: 375px;

