$primary-color-1: #363A5F;
$primary-color-2: #F8F2F2;

$secondary-color-1: #ECE7BE;
$secondary-color-2: #E1E3F4;
$secondary-color-3: #2B2E4A;


$supporting-color-1: #FFFFFF;
$supporting-color-2: #ADADA7;
$supporting-color-3: #335DCB;
$supporting-color-4: #4A4242;
$supporting-color-5: #6C6060;


$device-height: 812px;
$device-width: 375px;

