.socials {
  &__container {
    padding-top: 90px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &__header {
    display: flex;
    gap: 14px;
  }

  &__header-title {
    font-size: 23px;
    font-weight: 600;
    line-height: 29.9px;
    color: #363a5f;
  }

  &_header-right {
    display: flex;
    flex-direction: column;
  }

  &__header-logo {
    height: 56px;
    width: 56px;
  }

  &__usage-container {
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
  }


  &__usage-title {
    font-size: 10px;
    color: #363a5f;
  }

  &__usage-bar {
    width: 100px;
    height: 6px;
    border-radius: 5px;
    border: 0.1px solid #363a5f;
    background-color: #ebecf3;
  }

  &__usage-fill{
    width: 47px;
    height: 6px;
    border-radius: 5px;
    border: 0.1px solid #363a5f;
    position: absolute;
    left: 63px;
    background-color: #AFB4E7;
  }

  &__usage-value {
    font-size: 12px;
    color: #6c6060;
    font-weight: 700;
  }
  &__privacy-title {
    font-size: 14px;
    font-weight: 700;
    margin-left: 70px;
    color: #363a5f;
    text-decoration: underline;
    line-height: 18.2px;
    cursor: pointer;
  }

  &__alerts-container {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 38px;
  }


  &__alerts-header{
    color: #363a5f;
    font-size: 16px;
    font-weight: 600;
    font-weight: 600;
    line-height: 20.8px;
  }
  
  &__alerts-icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  &__collection-header{
    color: #363a5f;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 6px;
  }

  &__collection-container{
    background-color: #E1E3F4;
    border-radius: 10px;
    padding: 9px 10px 11px 9px;
    font-size: 14px;
    line-height: 18.2px;
    color: #000;
  }

  &__deletion-header{
    color: #363A5F;
    padding-top: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
  }

  &__deletion-explanation{
    color: #363A5F;
    padding-top: 5px;
    padding-bottom: 95px;
    font-size: 14px;
    line-height: 18.2px;
  }
  
  &__deletion-steps {
    color: #363A5F;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }

}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F0EFE9;
  padding: 20px;
  border: 1px solid #ADADA7;
  border-radius: 15px;
  z-index: 2;
  width:80%;

  ul {
    list-style: decimal; 
    padding-left: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }


  p {
      margin-bottom: 15px;
      color: #363A5F;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20PX;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.close-popup-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

body.blur {
  backdrop-filter: blur(5px); 
  background-color: rgba(0, 0, 0, 0.5);
}
