@import '../../styles/main';

.welcome-screen {
    background-color: $secondary-color-3;    
    height: $device-height;
    width: $device-width;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    &__logo {
        width: 20.125rem;
    }
  }


