@use "../../style/partial/mixins" as *;
@use '../../style/partial/variables' as *;


@include media(mobile) {

    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin-top: 71px;

        &__section {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;

            &--button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &--content {
                display: flex;
                width: fit-content;
                height: fit-content;
                border-radius: 15px;
                border: 1px solid #000;
                background: #ECE7BE;
                margin: 20px 0;
                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
            }

            &--text {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 335px;
                height: fit-content;
                padding: 11px 9px;
                margin: 0;
            }
        }

        &__avatar {
            &--image {
                width: 90px;
                height: 90px;
                border-radius: 100px;
                border: 3px solid #363A5F;
                margin-right: 23px;
                object-position: top;
                object-fit: cover;
               background: lightgray -0.541px -0.088px / 100.09% 150.195% no-repeat;
                ;
            }
        }


    }
}