@import '../../styles/main.scss';

.dashboard {
    padding: 4.438rem 1.25rem;
    background-color: $primary-color-2;
    height: $device-height;
    width: $device-width;
    &__header {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.688rem;
        &-user {
            &-avatar {
                width: 5.625rem;   
            }
            &-container {
                width: 5.625rem;
                height: 5.625rem;
                overflow: hidden;
                border-radius: 6.25rem;
                border: 0.188rem solid $primary-color-1;

            }
        }
        &-profile {
            display: flex;
            flex-direction: column;
            padding-left: 1.438rem;
            padding-top: 1.438rem;
            &-name {
                margin: 0;
                font-weight: 700;
                font-size: 1.25rem;
                color: $secondary-color-3;
            }
            &-edit {
                color: $supporting-color-3;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__info {
        background-color: $secondary-color-1;
        border: 1px solid $secondary-color-3;
        border-radius: 0.938rem;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
        &-content {
            font-size: 0.875rem;
            padding: 0.688rem 0.563rem;
            margin: 0;
        }
    }
    &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.875rem;
        &-tab {
            background-color: rgba(222, 209, 247, 0.30);
            padding: 0.688rem 1.25rem;
            font-weight: 700;
            color: $primary-color-1;
            border-radius: 0.25rem;
            &:hover {
                cursor: pointer;
            }
        }
        .active {
            background-color: $primary-color-1;
            color: $secondary-color-1;
        }
    }
    &__activity {
        padding-top: 0.625rem;
        padding-bottom: 0.875rem;
        &-visual {
            width: 100%;
            height: 100%;
        }
        &-stats {
            color: $primary-color-1;
            &-card {
                background-color: $secondary-color-2;
                border-radius: 0.313rem;
            }
            &-titles {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 0.625rem 0.313rem 0.625rem;
                &--apps,
                &--activity {
                    font-size: 0.9rem;
                }
            }
            &-card {
                padding: 0.313rem 0.563rem;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                font-size: 0.875rem;
                margin-top: 0.5rem;
                &:hover {
                    background-color: $supporting-color-6;
                    transition: ease-in-out 0.15s;
                    cursor: pointer;
                }
                &--twitter {
                    margin-bottom: 1rem;
                }
                &--facebook {
                    text-decoration: none;
                    color: $primary-color-1;
                }
                &-social {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.875rem;
                }
                &-activity {
                    color: $supporting-color-5;
                }

            }
        }
    }

}